In [11]:
fruits = ['Banana', 'Orange', 'Apple', 'Mango']
print(fruits)
fruits.append('Kiwi')
print(fruits)

['Banana', 'Orange', 'Apple', 'Mango']
['Banana', 'Orange', 'Apple', 'Mango', 'Kiwi']

In [ ]:
print(fruits[-5])

In [14]:
movies = []
print(movies)
movies.append('The Avengers')
movies.append('The Dark Knight')
movies.append('The Dark Knight Rises')
print(movies)

[]
['The Avengers', 'The Dark Knight', 'The Dark Knight Rises']

In [19]:
students = [''] * 5
print(students)
students[0] = 'John'
students[1] = 'Mary'
students[2] = 'Peter'
students[3] = 'Jane'
students[4] = 'Tom'
print(students)

['', '', '', '', '']
['John', 'Mary', 'Peter', 'Jane', 'Tom']

In [23]:
def print_students(students):
    for i in range(len(students)):
        print('Student:', students[i])

In [24]:
students.sort() # sort student names in alphabetical order
print_students(students)

Student: Jane
Student: John
Student: Mary
Student: Peter
Student: Tom

In [25]:
students.reverse() # reverse the order of the student names
print_students(students)

Student: Tom
Student: Peter
Student: Mary
Student: John
Student: Jane

In [27]:
students.clear() # remove all student names
print(students)
print_students(students)

[]

In [34]:
numbers = [1, 3, 5, 7, 9]
numbers.insert(1, 2)
print(numbers)
numbers.insert(3, 4)
print(numbers)
numbers.insert(5, 6)
print(numbers)
numbers.insert(7, 8)
print(numbers)
numbers.insert(4, 100)
print(numbers)

[1, 2, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 100, 5, 6, 7, 8, 9]

In [40]:
numbers = [1, 3, 1, 2, 2, 5, 6, 1]
print(numbers.count(1))
numbers.remove(3)
print(numbers)

3
[1, 1, 2, 2, 5, 6, 1]

In [ ]:
numbers.remove(1) # remove the first occurrence of 1
print(numbers)

In [48]:
colors = ['red', 'green', 'blue', 'yellow', 'orange']
print(colors)
color = input('Enter color to delete: ')
if color in colors:
    colors.remove(color)
else:
    print(f'Color {color} not found')
print(colors)

['red', 'green', 'blue', 'yellow', 'orange']
['red', 'blue', 'yellow', 'orange']